[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/cofhe-foundry-mocks"]
	path = lib/cofhe-foundry-mocks
	url = https://github.com/fhenixprotocol/cofhe-foundry-mocks
